@model IEnumerable<CustomerMgt.MVC.Models.CustomerModel>

<h2>Customers</h2>

<a href="@Url.Action("Create")" class="btn btn-success">Add New Customer</a>
<table class="table">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>PhoneNumber</th>
            <th>Address</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var customer in Model)
        {
            Console.WriteLine(Model);
            <tr>
                <td>@customer.FirstName</td>
                <td>@customer.LastName</td>
                <td>@customer.Email</td>
                <td>@customer.PhoneNumber</td>
                <td>@customer.Address</td>
                <td>
                    <a href="@Url.Action("Edit", new { id = customer.Id })" class="btn btn-primary">Edit</a>
                    <a href="@Url.Action("Delete", new { id = customer.Id })" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div>
    @if (ViewBag.TotalCount != null && ViewBag.PageNumber != null && ViewBag.PageSize != null)
    {
        var totalCount = (int)ViewBag.TotalCount;
        var pageNumber = (int)ViewBag.PageNumber;
        var pageSize = (int)ViewBag.PageSize;

        var totalPages = (int)Math.Ceiling(totalCount / (double)pageSize);

        <ul class="pagination">
            @if (pageNumber > 1)
            {
                <li class="page-item">
                    <a class="page-link" href="@Url.Action("Index", new { pageNumber = pageNumber - 1, pageSize = pageSize })">Previous</a>
                </li>
            }

            @for (var i = 1; i <= totalPages; i++)
            {
                <li class="page-item @(i == pageNumber ? "active" : "")">
                    <a class="page-link" href="@Url.Action("Index", new { pageNumber = i, pageSize = pageSize })">@i</a>
                </li>
            }

            @if (pageNumber < totalPages)
            {
                <li class="page-item">
                    <a class="page-link" href="@Url.Action("Index", new { pageNumber = pageNumber + 1, pageSize = pageSize })">Next</a>
                </li>
            }
        </ul>
    }
</div>